<template>
  <div class="about">
    <h1>Sales</h1>
    <SalesMonitor></SalesMonitor>
    <SalesTable></SalesTable>
  </div>
</template>

<script>
import SalesMonitor from '@/components/sales/SalesMonitor.vue';
import SalesTable from '@/components/sales/SalesTable.vue';

export default {
  components: {
    SalesMonitor,
    SalesTable,
  },
};
</script>
