<template>
  <div class="sales-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Customer</th>
          <th scope="col">Date</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="sale of sales" :key="sale.id">
          <th scope="row">{{ sale.id }}</th>
          <td>{{ sale.customer }}</td>
          <td>{{ sale.date }}</td>
          <td>{{ sale.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  computed: {
    sales() {
      return this.$store.getters['sales/sales'];
    },
  },
  methods: {
    async loadSales() {
      try {
        await this.$store.dispatch('sales/loadSales', { method: 'get_sales' });
      } catch (error) {
        this.error = error.message || 'Error: Something is wrong...';
      }
      this.isLoading = false;
    },
    handleError() {
      this.error = null;
    },
  },
  created() {
    this.loadSales();
  },
};
</script>
